<div class="animated fadeIn">
  
  <div class="row">
    <div class="col-2 text-truncate">
      <div>{{mensagemdia}}</div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Top Semanal
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr class="thead-light">
                <th class="text-center"><i class="icon-people"></i></th>
                <th class="text-center">Postagem</th>
                <th>Votos</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of auxd" > 
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <div *ngIf="item.user.picture == null" >
                    <img src="assets/img/avatars/teste.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <small style="width: 200px; position: relative;" class="text-muted">{{item.user.username}}</small>
                  </div>
                  <div *ngIf="item.user.picture != null" >
                  
                    <img [src]="'https://sandbox.wavesreport.com'+item.user.picture" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <small style="width: 200px; position: relative;" class="text-muted">{{item.user.username}}</small>
                  </div>
                   
                  </div>
                </td>
                <td class="text-center">
                  <div *ngIf="mensagemdia == null">
                  
                  </div>
                <div>{{item.title}}</div>
                
                
              </td>
              
            <td class="text-center">{{item.upvotes}}</td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Top Mensal
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr class="thead-light">
                <th class="text-center"><i class="icon-people"></i></th>
                <th class="text-center">Postagem</th>
                <th>Votos</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of auxs" > 
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <div *ngIf="item.user.picture == null" >
                    <img src="assets/img/avatars/teste.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <small style="width: 200px; position: relative;" class="text-muted">{{item.user.username}}</small>
                  </div>
                  <div *ngIf="item.user.picture != null" >
                  
                    <img [src]="'https://sandbox.wavesreport.com'+item.user.picture" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <small style="width: 200px; position: relative;" class="text-muted">{{item.user.username}}</small>
                  </div>
                   
                  </div>
                </td>
                <td class="text-center">
                <div>{{item.title}}</div>
              </td>
              
            <td class="text-center">{{item.upvotes}}</td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Tabela das moedas...
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Posição</th>
      <th>Moeda</th>
      <th>Preço atual</th>
      <th>Volume 24h</th>
      <th>Capitalização de Mercado</th>
      <th> Câmbio (24h)</th>
              </tr>
            </thead>
            <tbody *ngFor="let tete of coin">
              
              <tr>
                <td>{{tete.market_cap_rank}}</td>
              <td><img style="width: 20px; height: 20px;" [src]="tete.image" > {{tete.name}}</td>
      <td>{{tete.current_price}}</td>
      <td>{{tete.total_volume}}</td>
      <td>{{tete.market_cap}}</td>
      <td>{{tete.price_change_percentage_24h}}</td>
              </tr>
            
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>
