<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
     <img src="assets/img/ativodigitais.png" (click)="direciona()"  id="imagem" style="width: 150px;  position: relative;  " class="navbar-brand" alt="admin@bootstrapmaster.com">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     
      <li class="nav-item">
        
      </li>
      
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
      
      <div *ngIf="link == null" >
       
        <div class="container" style="position: relative;  left: -30px;">
          <div class="row">
        <div class="dropdown" >
          <button style="border-radius: 50%; background-color: transparent; border-color: transparent; color: white;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-bell"></i>
            
            <span class="badge badge-pill badge-danger">8</span>
          
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="dropdown-header text-center"><strong>Notificações</strong></div>
            <div *ngFor="let item of resultadogeral" >
            <a class="dropdown-item" href="#">{{item.topicTitle}}</a>
          </div> 
            <div class="dropdown-header text-center"><strong>Ver mais!</strong></div>
          </div>
        </div> &nbsp;&nbsp;
        <div class="dropdown" *ngIf="foto == null" >

          
         
          <img src="https://cdn.pixabay.com/photo/2012/04/26/19/43/profile-42914_960_720.png" id="dropdownMenuButton"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            class="img-avatar" style="width: 30px; height: 30px;" />
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" >Usuario: {{nome}}</a>
            <a class="dropdown-item" (click)="exit()">Sair</a>
          </div>
        </div> 
        <div class="dropdown" *ngIf="foto != null" >
          
          <img [src]="'https://sandbox.wavesreport.com/'+foto" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="img-avatar" style="width: 30px; height: 30px;" />
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" >Usuario: {{nome}}</a>
            <a class="dropdown-item" (click)="exit()">Sair</a>
          </div>
        </div> 
      </div>
    </div>
          
          
        
      </div>
      <div *ngIf="link != null">
        <a href="/#/login" id="botao2" style="border-radius: 20px; position: relative;  width: 150px;" class="btn btn-outline-secondary" aria-pressed="true">Entrar</a>
      </div>
    </form>
  </div>
</nav>
<br>

</div>
  <header>
   
  </header>

  <!-- Page Content -->
  <div class="container">
<br>
    <h1 class="my-4" id="postagem">Postagens Populares</h1>

    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Top Semanal
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr class="thead-light">
                  <th class="text-center"><i class="icon-people"></i></th>
                  <th class="text-center">Postagem</th>
                  <th>Votos</th>
                </tr>
              </thead>
              <tbody *ngFor="let item of auxd" > 
                <tr>
                  <td class="text-center">
                    <div class="avatar">
                      <div *ngIf="item.user.picture == null" >
                      <img src="assets/ola.png" class="img-avatar" alt="admin@bootstrapmaster.com">
                      <small style="width: 200px; position: relative;" class="text-muted">{{item.user.username}}</small>
                    </div>
                    <div *ngIf="item.user.picture != null" >
                    
                      <img [src]="'https://sandbox.wavesreport.com'+item.user.picture" class="img-avatar" alt="admin@bootstrapmaster.com">
                      <small style="width: 200px; position: relative;" class="text-muted">{{item.user.username}}</small>
                    </div>
                     
                    </div>
                  </td>
                  <td class="text-center">
                    <div *ngIf="mensagemdia == null">
                    
                    </div>
                  <a style="color: black;"  target="_blank" href="https://sandbox.wavesreport.com/social/topic/{{item.tid}}" >{{item.title}}</a>
                  
                  
                  
                </td>
                
              <td class="text-center">{{item.upvotes}}</td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--/.col-->
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Top Mensal
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr class="thead-light">
                  <th class="text-center"><i class="icon-people"></i></th>
                  <th class="text-center">Postagem</th>
                  <th>Votos</th>
                </tr>
              </thead>
              <tbody *ngFor="let item of auxs" > 
                <tr>
                  <td class="text-center">
                    <div class="avatar">
                      <div *ngIf="item.user.picture == null" >
                      <img src="assets/ola.png" class="img-avatar" alt="admin@bootstrapmaster.com">
                      <small style="width: 200px; position: relative;" class="text-muted">{{item.user.username}}</small>
                    </div>
                    <div *ngIf="item.user.picture != null" >
                    
                      <img [src]="'https://sandbox.wavesreport.com'+item.user.picture" class="img-avatar" alt="admin@bootstrapmaster.com">
                      <small style="width: 200px; position: relative;" class="text-muted">{{item.user.username}}</small>
                    </div>
                     
                    </div>
                  </td>
                  <td class="text-center">
                    <a style="color: black;"  target="_blank" href="https://sandbox.wavesreport.com/social/topic/{{item.tid}}" >{{item.title}}</a>
                </td>
                
              <td class="text-center">{{item.upvotes}}</td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
      
    </div>
    
    <h2 class="m-0 text-center ">Top Ativos Digitais</h2><br>

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Criptomoedas
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Posição</th>
                  <th scope="col">Moeda</th>
                  <th scope="col">Preço atual</th>
                  <th scope="col">Volume 24h</th>
                  <th scope="col">Capitalização de Mercado</th>
                  <th scope="col">Câmbio (24h)</th>
                </tr>
              </thead>
              <tbody *ngFor="let tete of coin">
                <tr>
                  <th>{{tete.market_cap_rank}}</th>
                  <td><img style="width: 20px; height: 20px;" [src]="tete.image" > {{tete.name}}</td>
                  <td>{{tete.current_price | currency}}</td>
                  <td>{{tete.total_volume | currency}}</td>
                  <td>{{tete.market_cap | currency }}</td>
                  <div *ngIf="tete.price_change_percentage_24h >= 0">
                  <td style="color: green;">{{tete.price_change_percentage_24h }} %</td>
                </div>
                <div *ngIf="tete.price_change_percentage_24h < 0">
                  <td style="color: red;" >{{tete.price_change_percentage_24h }} %</td  >
                </div>
                </tr>
               
              </tbody>
            </table>
            
          </div>
        </div>
      </div>
   
    </div>
    <hr>
  </div>
  
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Desenvolvido pelo &copy; Ativos Digitais 2020</p>
    </div>
    <!-- /.container -->
  </footer>
  
